*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

/* Header */
.row{
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 50;
}
.dot {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 30px 20px;
    padding-top: 15px;
    padding-right: 19px;
}

.dot-text{
    text-decoration: none;
    color: black;
}

/* End Header */
/* Main */
.blocks{
    height: 100vh;
    position: relative;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.green-text{
    color: green;
}

.yellow{
    background-color: yellow;
}

.yellow-text{
    color: yellow;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}
/* End Main */